<div class="row">
	<div class="offset-md-2 col-md-8 mb-4">
		<h1 class="title">Followers</h1>

		<div class="row index">
			<% @users.each do |user| %>
				<div class="col-md-6 index_each">
					
					<% if user.follower.image_name? %>
						<%= image_tag user.follower.image_name.url, class: "index_image" %>
					<% else %>
						<%= image_tag "user_images/default_user.png", class: "index_image" %>
					<% end %>
					
					<%= link_to user.follower.name, user_url(user), class: "index_list" %>
				</div>
			<% end %>
		</div>
		<%= paginate @users %>
		<%= link_to "Back", user_path(@user), class: "index_list" %>
	</div>
</div>