<div class="row">
	<div class="offset-md-3 col-md-6">
		<h1 class="title"><%= @category.title %></h1>

		<div class="index">
			<div class="lesson_count">
				<%= @lesson.words.count + 1 %> / <%= @category.words.count %>
			</div>
			<div class="lesson_word">
				<%= @word.content %>
			</div>

			<% @word.choices.each do |choice| %>
				<div class="text-center">
					<%= button_to choice.content, lesson_answers_path(@lesson),
						params: {choice_id: choice.id, word_id: @word.id},
						class: "btn btn-info btn_settings mb-3" %>
				</div>
			<% end %>
		</div>
	</div>
</div>