<div class="row">
	<div class="offset-md-3 col-md-6">
		<h1 class="title">Administration</h1>
		<div class="text-center">
			<%= link_to "New Category", new_admin_category_path, class: "btn btn-info btn_settings mt-3" %>
		</div>

		<div class="row index">
			<table class="table table-bordered index_table">
				<tr>
					<th width="100">Title</th>
					<th width="270">Description</th>
					<th width="170">Settings</th>
				</tr>
				
				<% @categories.each do |category| %>
					<tr>
						<td width="150"><%= link_to category.title, admin_category_words_path(category), class: "category_list" %></td>
						<td width="240"><%= category.description %></td>
						<td width="150">
							<%= link_to "edit", edit_admin_category_path(category), class: "index_list" %> /
							<%= link_to "delete", admin_category_path(category), method: :delete, class: "index_list" %>
						</td>
					</tr>
				<% end %>
			</table>
			<%= paginate @categories %>
			<%= link_to "Back", user_path(current_user), class: "index_list" %>
		</div>
	</div>
</div>