<div class="media p-2">
	<div class="media-body row">
		<div class="col-md-8">
			<%= user_image(current_user) %>

			<%= link_to activity.user.name, user_path(activity.user), class: "dashboard_list" %>
			
			<% if activity.action.is_a?(Lesson) %>
				 learned <%= link_to activity.action.category.title, lesson_path(activity.action), class: "dashboard_list" %>
			<% else %>
				 followed <%= link_to activity.action.followed.name, user_path(activity.action.followed), class: "dashboard_list" %>
			<% end %>
		</div>
		<div class="col-md-4">
			<div class="text-right activity_time" >
				<%= time_ago_in_words(activity.created_at) %> ago
			</div>
		</div>
	</div>
</div>
		