<!DOCTYPE html>
<html>
  <head>
    <title>RailsElearningHaruna</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "layouts/header" %>

    <%= image_tag("gem.png", class: "home_image") %>

    <%= yield %>
  </body>
</html>
